.element {
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
}
.element>span {
    font-size: 1.55rem;
    line-height: 1.55rem;
    height: 1.55rem;
    width: 75%;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 35px;
    text-overflow: ellipsis;
    text-align: left;
}
.notifications {
    color: white;
    border-radius: 50%;
    min-width: 70px;
    min-height: 70px;
    line-height: 70px;
    font-size: 1.5rem;
    margin-right: 35px;
}
.delete-btn {
    height: 100%;
    width: 295px;
    color: white;
    font-size: 1.5rem;
    border: none;
}