.header {
    color: white;
    height: 215px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header>a {
    background:lightseagreen;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    line-height: 70px;
    margin: 30px;
}

.header>span {
    font-size: 1.6rem;
}