.header {
    color: white;
    height: 215px;
    display: flex;
    justify-content: flex-start;
}

.header>a {
    background:lightseagreen;
    height: 70px;
    width: 70px;
    min-width: 70px;
    border-radius: 50%;
    line-height: 70px;
    margin: 30px;
}

.header>span {
    font-size: 1.6rem;
    text-align: start;
}

.children {
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
    text-align: start;
}