* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: Arial;
  font-size: 23px;
}

header {
  height: 900px;
  border: 1px solid black;
  background: darkcyan;
  color: white;
}

img {
  margin: 10px;
}

a,button {
  text-decoration: none;
  padding: 10px;
  margin: 0 18px 0 18px;
  font-size: 1.1rem;
}

button {
  padding: 8px 25px 8px 25px;
  background: 0;
  border-radius: 5px;
  border: 2px solid white;
}

#sec-1 {
  color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 25px 0 125px 0;
  border: 1px solid black;
  
}

#sec-1>article {
  margin-top: 145px;
  width: 71%;
  border: 1px solid black;
}

#sec-1>article:nth-child(2)>ul {
  padding-left: 20px;
  margin-top: 60px;
}
#sec-1>article:nth-child(2) li {
  line-height: 1.05rem;
}

 h2 {
  font-size: 2.62rem;
  margin: 0 0 45px 0;
}
#sec-1 p, #sec-1 li {
  margin: 48px 0 0 0;
  line-height: 3.20rem;
  font-size: 1.32rem;
  font-family: serif;
} 

a:focus {
  border-bottom: 3px solid white;
}

#topper {
  border: 1px solid black;
  height: 120px;
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
}

#topper>* {
  border: 1px solid black;
  width: 45%;
  display: flex;
}

#topper>div:nth-child(1) {
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}

#topper>nav:nth-child(2) {
  justify-content: center;
  align-items: center;
  font-size: 1.6rem;
}

#mainText {
  border: 1px solid black;
  height: 780px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#mainText>span:nth-child(1) {
  font-size: 6rem;
  font-weight: bold;
  margin-top: 240px;
}

#mainText>span:nth-child(2) {
  margin-top: 41px;
}

.underline {
  width: 130px;
  height: 7px;
  background: darkgreen;
}